%script{ src: "//platform.twitter.com/oct.js", type: "text/javascript" }
:javascript
  twttr.conversion.trackPid('l5odu', { tw_sale_amount: 0, tw_order_quantity: 0 });
%noscript
  %img{ alt: "", height: "1", src: "https://analytics.twitter.com/i/adsct?txn_id=l5odu&p_id=Twitter&tw_sale_amount=0&tw_order_quantity=0", style: "display:none;", width: "1" }
  %img{ alt: "", height: "1", src: "//t.co/i/adsct?txn_id=l5odu&p_id=Twitter&tw_sale_amount=0&tw_order_quantity=0", style: "display:none;", width: "1" }
