.mod-text
  .layout-inner-wrap
    %h2 Operations Coordinator

    :markdown
      [Turing School of Software & Design](/) is seeking an Operations Coordinator to manage our facilities and support staff operations. Your role will involve creating an environment that is inclusive, welcoming and enjoyable for our community. You will be identifying areas of opportunities in our space, managing vendors and projects, and helping us meet our students’ needs.

      Your role will be instrumental in our growth.

      You will be joining a team of driven and passionate people. We are on a mission to transform the technology industry by providing opportunities to smart, driven and diverse individuals. Our students are former teachers, veterans, pastry chefs, bartenders, photographers and warehouse managers, among others.

      For us, this is not a job, but a calling.

    %h3 Responsibilities
    :markdown
      You will report to the Director of Operations. Your responsibilities will include, but are not limited, to the following:

      * Manage Turing facilities by supervising maintenance, improvement, and cleaning.
      * Assess the feasibility of potential locations to expand our operations as we continue to grow.
      * Identify, select, and manage different vendors and providers to ensure Turing has high quality vendors who provide excellent service.
      * Support logistics for community events, outreach, and operations.
      * Accounts payable data entry.
      * Coordinate shipping and mailing.
      * Work with the Operations and Academics teams to identify areas of opportunities, define priorities and perform additional tasks to support those priorities.


    %h3 Contact
    :markdown
      If you are interested in this position, please send your resume and cover letter to **jobs@turing.io**.
