.mod-text
  .layout-inner-wrap
    %h2 Student Experience Coordinator

    :markdown
      [Turing School of Software & Design](/) is seeking a Student Experience Coordinator to manage student affairs, and assist with student admissions. Your role will involve supporting student enrollment, organizing student activities, assisting with student relocation and logistics, and answering to student requests. You will identify areas of opportunity in our processes, be aware of our students’ needs, and improve our students’ overall experience.

      Your role will be instrumental in our growth.

      You will be joining a team of driven and passionate people. We are on a mission to transform the technology industry by providing opportunities to smart, driven and diverse individuals. Our students are former teachers, veterans, pastry chefs, bartenders, photographers and warehouse managers, among others.

      For us, this is not a job, but a calling.

    %h3 Responsibilities
    :markdown
      You will report to the Director of Operations. Your responsibilities will include, but are not limited, to the following:

      * Support student enrollment and onboarding, including contracts, payment plans and enrollment communications.
      * Assist with student relocation and logistics.
      * Organize student activities.
      * Coordinate student support services, such as counseling, catering, and supplies.
      * Provide ongoing customer service and support to enrolled students by serving as the point of contact for student requests.
      * Work with the Operations and Academics teams to identify areas of opportunities, define priorities and perform additional tasks to support those priorities.

    %h3 Contact
    :markdown
      If you are interested in this position, please send your resume and cover letter to **jobs@turing.io**.
