.mod-text
  .layout-inner-wrap
    %h2 The Rails Tutorial + Turing

    <img src="/images/tutorial.jpg" style="float:right; height: 200px; margin: 0em 2em 0em 2em;" />

    :markdown
      You've worked your way through Michael Hartl's [Ruby on Rails Tutorial](https://www.railstutorial.org/). You're hooked and want
      to become a professional developer. Great!

      ### We Can Help

      [The Turing team](/team) has been teaching Ruby and Rails for eight years.
      Our 27-week, full-time program will prepare you to be a
      professional developer. 100% of our grads have gone on to work at great
      companies across and outside the US. You can find all the details
      about the program [here on our site](/).

      ### We Want You

      We love that you've demonstrated commitment to learning Rails. When
      you [Apply to Turing](http://turing.io), put **RAILSTUTORIAL500** in your
      "referred by" field and **we'll knock $500 off your tuition**.

      ### Have Questions?

      We'd love to answer your questions about the program. Shoot us [an email at contact@turing.io](mailto:contact@turing.io).

= partial 'get_started'
