.tracking-denver-post
  :javascript
    var axel = Math.random()+"";
    var a = axel * 10000000000000;
    document.write('<img src="http://pubads.g.doubleclick.net/activity;xsp=71534;ord='+ a +'?" width=1 height=1 border=0/>');
  %noscript
    %img{border: "0/", height: "1", src: "http://pubads.g.doubleclick.net/activity;xsp=71534;ord=1?", width: "1"}

