.mod-text.mod-admissions
  .layout-inner-wrap
    :markdown
      ## Admissions

      Admissions for Turing are always open, there are no application deadlines. Across our programs we've evaluated over a thousand candidates, selecting fewer than 8%.

      **[Start your application now!](http://apply.turing.io)**

      ### Round 1: Application

      The first step is to fill out [the application](http://apply.turing.io) which takes anywhere from 1-3 hours. The application asks for:

      * *Your Resume*: Help us understand your past. There are no checkbox items or exact requirements. Your resume can only help you.
      * *Writing Sample*: Can you effectively communicate and explain a complex idea?
      * *Video Response*: The video is your chance to show us your personality, spirit, and style. Make the case that you're a great fit for our community and will surpass expectations.
      * *Logic Challenge*: Writing code is about solving problems. In this series of small exercises you can demonstrate your aptitude for programming.

      After your application is submitted you'll hear back from us within **two weeks**.

      ### Round 2: Interview

      If you're selected to move forward, we'll then setup a one-hour interview either in person or over a Google Hangout to continue assessing your fit for the program. About one in four applicants makes it to this stage.

      The interview is split into two parts:

      * a conversation to gauge your passion for programming and culture fit for our community.
      * an aptitude exercise to gauge your likelihood of success in a highly collaborative programming environment

      Within a week of the interview you'll be notified of the final decision. Approximately one in ten students will be invited to enroll.

      ### Round 3: Cohort Selection

      Invited applicants can then select any currently open class. Classes are opened six months before they begin and close when filled.

      All 2014 cohorts will take place in Denver, CO. The cohorts currently open as of 5/15/14 are:

      * **June 2nd**: 8 spots open
      * **July 21st**: 18 spots open
      * **September 8th**: 19 spots open
      * **October 27th**: 28 spots open

      Once applicants pick a cohort, they choose their [tuition plan](/tuition/) and make a refundable $1,000 deposit to hold their spot.

= partial 'get_started'
