.mod-text.mod-admissions
  .layout-inner-wrap
    %h2 Admissions
    :markdown
      Admissions for Turing are always open, there are no application deadlines. Across our programs we've evaluated over a thousand candidates, selecting fewer than 8%.

    %strong
      %a{href: "http://apply.turing.io"} Start your application now!

    %h3 Round 1: Application
    :markdown
      The first step is to fill out [the application](http://apply.turing.io) which takes anywhere from 1-3 hours. The application asks for:

      * *Your Resume*: Help us understand your past. There are no checkbox items or exact requirements. Your resume can only help you.
      * *Writing Sample*: Can you effectively communicate and explain a complex idea?
      * *Video Response*: The video is your chance to show us your personality, spirit, and style. Make the case that you're a great fit for our community and will surpass expectations.
      * *Logic Challenge*: Writing code is about solving problems. In this series of small exercises you can demonstrate your aptitude for programming.

      After your application is submitted you'll hear back from us within **two weeks**.

    %h3 Round 2: Interview
    :markdown
      If you're selected to move forward, we'll then setup a one-hour interview either in person or over a Google Hangout to continue assessing your fit for the program. About one in four applicants makes it to this stage.

      The interview is split into two parts:

      * a conversation to gauge your passion for computer programming and culture fit for our community.
      * an aptitude exercise to gauge your likelihood of success in a highly collaborative programming environment

      Within a week of the interview you'll be notified of the final decision. Approximately one in ten students will be invited to enroll.

    %h3 Round 3: Cohort Selection
    :markdown
      If you're invited then you can enroll in any open cohort. Classes are opened six months before they begin and close when filled. The cohorts currently open are:

      * July 6th, 2015
      * August 24th, 2015
      * October 12th, 2015
      * November 30th, 2015

      Once you pick a cohort then you choose a [tuition plan](/tuition/) and make a refundable $1,000 deposit to hold your spot.

    %h3 Non-Discrimination Policy
    :markdown
      It is the Policy of [Turing School of Software and Design]('/') (“Turing”) to admit students of any race, color, national, ethnic origin, and sexual orientation to all the rights, privileges, programs, and activities generally accorded or made available to students at Turing and Turing does not discriminate on the basis of race, color, national and ethnic origin in administration of its educational policies, admission policies, scholarship, and loan programs and other school administered programs.

= partial 'get_started'
