#more-information.mod-moreinfo
  %form{method: 'post', action: 'http://jumpstartlab.us1.list-manage2.com/subscribe/post'}
    %input{type: "hidden", name: "u", value: "8080b7a05247f0dee13a0a26f"}
    %input{type: "hidden", name: "id", value: "6c0ee96bfa"}

    %h2 Join Our Mailing List

    .input
      %input{type: 'email', autocapitalize: "off", autocorrect: "off", name: "MERGE0", id: "MERGE0"}
      %label{for: 'MERGE0'} Email address

    %div{style: "position: absolute; left: -5000px;"}
      %input{type: "text", name: "b_8080b7a05247f0dee13a0a26f_6c0ee96bfa", value: ""}

    .input.submit
      %button.button{type: 'submit', value: "Subscribe"} Subscribe
