.mod-text
  .layout-inner-wrap
    %h2 Our Program

    %h3 Admissions
    :markdown
      Before joining Turing, potential students go through a [rigorous admissions process](/admissions).

    %h3 Program Structure
    :markdown
      Our Web Development program is a full-time seven-month commitment made up of four six-week classes with a one-week intermission between each. Each class has 20-28 students. A new group of students begins the program every seven weeks.

      The six-week classes include:

      1. Ruby Fundamentals, Object-Oriented Programming, and Test-Driven Development
      2. Ruby Web Applications with Sinatra and Rails
      3. Professional Web Applications, Security, and Agile Methodologies
      4. Performance, APIs, Services, and Client-Side JavaScript

      Each class has a mid-point and final assessment. Students must pass the final assessment to move on. Students who fail a class can choose to roll back one cohort to repeat the class. Tuition in the program buys credits for four classes, so a student repeating a class can choose to either leave without finishing all four classes or purchase additional class credits at half price.

    %h3 An Inclusive Community
    :markdown
      Turing is on a social justice mission to open the world of programming to more great people. Our shared space is an opportunity to showcase the best of what we can be. It's an environment where all persons and opinions are welcome, as long as their purpose is to build each other up not tear each other down. In debate and in action, we encourage opinions defended with rational discourse, and respect that they're rooted in constructivist ideals. We consider carefully the effect our choices have on others, both inside and outside our group. Our intent, words, and actions go beyond tolerance to acceptance: encouraging individuals to become the people they want to be.

      If you believe in building people, communities, and software, then you are welcome here.

    %h3 Non-Discrimination Policy
    :markdown
      It is the Policy of Turing School of Software and Design (“Turing”) to admit students of any race, color, national ethnic origin, and sexual orienation to all the rights, privileges, programs, and activities generally accorded or made available to students at Turing and Turing does not discriminate on the basis of race, color, national and ethnic origin in administration of its educational policies, admission policies, scholarship, and loan programs and other school administered programs.

    %h3 Results
    %p This will likely be the most difficult academic experience of your life. But we promise it's worth it. We have a proven track record in building great developers with 100% of graduates employed as developers at companies like:
    %ul.logos
      - ['livingsocial', 'pivotallabs', 'quickleft', 'itriage', 'turbovote', 'cardflight', 'bonobos', 'zenpayroll', 'everfi', 'tablexl', 'maui'].each do |logo|
        %li= image_tag("logos/#{logo}.png", :alt => logo)

= partial 'get_started'
