!!! XML
%urlset{xmlns: "http://www.sitemaps.org/schemas/sitemap/0.9", "xmlns:xsi" => "http://www.w3.org/2001/XMLSchema-instance", "xsi:schemaLocation" => "http://www.sitemaps.org/schemas/sitemap/0.9\n http://www.sitemaps.org/schemas/sitemap/0.9/sitemap.xsd" }
  %url
    %loc http://turing.io
  %url
    %loc http://turing.io/difference
  %url
    %loc http://turing.io/admissions
  %url
    %loc http://turing.io/tuition
  %url
    %loc http://turing.io/contact
  %url
    %loc http://turing.io/team
  %url
    %loc http://turing.io/program
  %url
    %loc http://turing.io/tuition
