.mod-tuition
  .layout-inner-wrap
    %h2 Tuition
    %p
      Program tuition is $17,500. A $1000 deposit is needed to secure your spot.
    %p
      Many students elect to defer a portion of their tuition until after they are employed. The first monthly payment is due eight weeks after finishing the program.
    %p
      If you're a right fit for our program we'll do our best to help you afford it. Get accepted first, then we'll worry about the finances.
    %p
      Cost-of-living and housing are not included. Tuition includes a new Apple laptop, but students supplying their own "Mid 2012" or newer MacBook Air or Pro running OS X 10.9 can take a $1200 credit from their up-front payment.

    .graphs
      %ul
        %li.one
          %h3 Up Front Payment
          %dl
            %dt Deposit
            %dd $1000
            %dt First Day
            %dd $16,500
            %dt Total Paid
            %dd.total $17,500
        %li.two
          %h3 Low Deferment
          %dl
            %dt Deposit
            %dd $1000
            %dt First Day
            %dd $9000
            %dt 24 months @
            %dd $375/mo
            %dt Total Paid
            %dd.total $19,000
        %li.three
          %h3 Medium Deferment
          %dl
            %dt Deposit
            %dd $1000
            %dt First Day
            %dd $6500
            %dt 30 months @
            %dd $433/mo
            %dt Total Paid
            %dd.total $20,500
        %li.four
          %h3 Maximum Deferment
          %dl
            %dt Deposit
            %dd $1000
            %dt First Day
            %dd $4000
            %dt 36 months @
            %dd $472/mo
            %dt Total Paid
            %dd.total $22,000

    %h3 Tuition Guarantee
    :markdown
      We guarantee that we'll help you find a job offer of at least $60,000 in the US within three months of graduation or we'll **fully refund** your tuition. To qualify you must:

      * graduate, which means passing the final assessment of the final course
      * be eligible to work in the United States
      * work with our team to actively pursue jobs in a timely manner

      Even you **don't** meet these requirements, it's very likely we can still help you find a job. All students in our previous programs found jobs within the three month window, regardless
      of graduation.

= partial 'get_started'
